@font-face {
  font-family: "Inter";
  font-weight: 100;
  font-style: normal;
  font-display: fallback;

  src: url("../../fonts/inter/Inter-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 100;
  font-style: italic;
  font-display: fallback;

  src: url("../../fonts/inter/Inter-ThinItalic.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 200;
  font-style: normal;
  font-display: fallback;

  src: url("../../fonts/inter/Inter-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 200;
  font-style: italic;
  font-display: fallback;

  src: url("../../fonts/inter/Inter-ExtraLightItalic.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: normal;
  font-display: fallback;

  src: url("../../fonts/inter/Inter-Light.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: italic;
  font-display: fallback;

  src: url("../../fonts/inter/Inter-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: fallback;

  src: url("../../fonts/inter/Inter-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: italic;
  font-display: fallback;

  src: url("../../fonts/inter/Inter-Italic.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  font-display: fallback;

  src: url("../../fonts/inter/Inter-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: italic;
  font-display: fallback;

  src: url("../../fonts/inter/Inter-MediumItalic.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  font-display: fallback;

  src: url("../../fonts/inter/Inter-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: italic;
  font-display: fallback;

  src: url("../../fonts/inter/Inter-SemiBoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-display: fallback;

  src: url("../../fonts/inter/Inter-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: italic;
  font-display: fallback;

  src: url("../../fonts/inter/Inter-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 800;
  font-style: normal;
  font-display: fallback;

  src: url("../../fonts/inter/Inter-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 800;
  font-style: italic;
  font-display: fallback;

  src: url("../../fonts/inter/Inter-ExtraBoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  font-display: fallback;

  src: url("../../fonts/inter/Inter-Black.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: italic;
  font-display: fallback;

  src: url("../../fonts/inter/Inter-BlackItalic.otf") format("opentype");
}
