@use "../core";
@use "../semantic";
@use "../mixins";

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

body {
  min-width: 380px;
  position: relative;
  overflow-x: hidden;
  height: 100dvh;
  background: semantic.$background-default-secondary;

  @include mixins.apply-text("body-1");
}

.app {
  min-height: 100%;
}

::selection {
  background: semantic.$background-primary;
  color: semantic.$text-default-negative;
}
