@use "../core";

@mixin container {
  max-width: core.$breakpoint-xl;
  margin: 0 auto;
  padding-left: clamp(#{core.$spacing-100}, 1%, #{core.$spacing-300});
  padding-right: clamp(#{core.$spacing-100}, 1%, #{core.$spacing-300});
}
