$family-sans: "Inter";

$font-size-01: 12;
$font-size-02: 14;
$font-size-03: 16;
$font-size-04: 19;
$font-size-05: 23;
$font-size-06: 27;
$font-size-07: 32;
$font-size-08: 38;
$font-size-09: 45;
$font-size-10: 53;
$font-size-11: 63;

$weight-thin: 100;
$weight-extra-light: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;
$weight-black: 900;