@use "../core";

$background-default: core.$white-950;
$background-default-hover: core.$white-800;
$background-default-secondary: core.$gray-50;
$background-default-secondary-hover: core.$gray-100;
$background-default-negative: core.$gray-800;

$background-secondary: core.$gray-700;
$background-secondary-hover: core.$gray-800;

$background-primary: core.$yellow-600;
$background-primary-hover: core.$yellow-700;
$background-primary-active: core.$yellow-800;

$background-disabled: core.$gray-500;

$text-default: core.$gray-800;
$text-default-secondary: core.$gray-700;

$text-primary: core.$yellow-800;
$text-primary-secondary: core.$yellow-700;

$text-default-negative: core.$white-950;
$text-default-negative-hover: core.$white-800;
