$spacing-base: 4px;

$spacing-0: $spacing-base * 0;
$spacing-50: $spacing-base * 0.5;
$spacing-100: $spacing-base * 1;
$spacing-150: $spacing-base * 1.5;
$spacing-200: $spacing-base * 2;
$spacing-300: $spacing-base * 3;
$spacing-400: $spacing-base * 4;
$spacing-600: $spacing-base * 6;
$spacing-800: $spacing-base * 8;
$spacing-1000: $spacing-base * 10;
$spacing-1200: $spacing-base * 12;
$spacing-1600: $spacing-base * 16;
$spacing-2400: $spacing-base * 24;
$spacing-4000: $spacing-base * 40;
$spacing-negative-100: $spacing-base * -1;
$spacing-negative-200: $spacing-base * -2;
$spacing-negative-300: $spacing-base * -3;
$spacing-negative-400: $spacing-base * -4;
$spacing-negative-600: $spacing-base * -6;
