$family-sans: "Inter";

$font-size-01: 12px;
$font-size-02: 14px;
$font-size-03: 16px;
$font-size-04: 19px;
$font-size-05: 23px;
$font-size-06: 27px;
$font-size-07: 32px;
$font-size-08: 38px;
$font-size-09: 45px;
$font-size-10: 53px;
$font-size-11: 63px;

$weight-thin: 100;
$weight-extra-light: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;
$weight-black: 900;
