seliger-kamen.ru {
    encode {
        gzip
        zstd
        br
        minimum_length 256
    }

    header_up Accept-Encoding {http.request.header.Accept-Encoding}

    reverse_proxy seliger-kamen-frontend:3000 {
        header_up Accept-Encoding {http.request.header.Accept-Encoding}

        transport http {
            read_timeout 30s
            write_timeout 30s
        }
    }

    log {
        output file /var/log/caddy/compression.log
        level INFO
    }
}

directus.seliger-kamen.ru {
    reverse_proxy seliger-kamen-directus:8055

    handle /websocket {
        reverse_proxy seliger-kamen-directus:8055 {
            transport http {
                keepalive 30s
            }
        }
    }

    request_body {
        max_size 1GB
    }
}