seliger-kamen.ru {
    encode zstd gzip

    reverse_proxy seliger-kamen-frontend:3000
}

directus.seliger-kamen.ru {
    encode zstd gzip

    reverse_proxy seliger-kamen-directus:8055

    handle /websocket {
        reverse_proxy seliger-kamen-directus:8055 {
            transport http {
                keepalive 30s
            }
        }
    }

    request_body {
        max_size 1GB
    }
}